<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TransportManage</title>

</head>
<body>


  <h1>Worker List</h1>
  

<form method="post" th:action="@{/oneresult}" th:each="workerlist : ${workers}">


	      <input disabled name='id' th:value="${workerlist.id}"/>
	      <input disabled th:value="${workerlist.first_name}"/>
	      <input disabled th:value="${workerlist.last_name}"/>
	      <input type="submit" value="Output">	      
	      
	      <br>
</form>

</body>
</html>